:root {
  --table-cell-padding: 1rem;
  --table-border: 1px solid rgba(224, 224, 224, 1);
}

body {
  width: 1000px;
}


nav {
  display: flex;
  flex-direction: column;
}

.logo-search-wrapper {
  display: flex;
}
.app-title {
  text-align: center;
}

.wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
}

#search {
  margin-left: auto;
  margin-right: 14px;
  padding: 0.5rem;
  width: 200px;
  align-self: center;
}

.breadcrum-wrapper {
  display: flex;
}

.breadcrum > a {
  color: gray;
  text-decoration: none;
}

.breadcrum > a:hover {
  color: black;
  cursor: pointer;
}

.breadcrum:before {
  content: '/';
  margin-right: 8px;
  color: lightgray;
}

.breadcrum:not(:first-of-type) {
  margin-left: 8px;
  color: lightgray;
  content: ' ';
}


.table-wrapper{
  padding: 32px;
  background-color: #f5f5f5;
  align-self: center;
}

table {
  border-spacing: 0;
  border: 0.5px solid gray;
  background-color: white;
}

thead > tr {
  border-top: var(--table-border);
  font-size: 1rem;
  font-weight: bold;
}

th {
  padding: var(--table-cell-padding);
  text-align: left;
  border-bottom: var(--table-border);
}

td {
  padding: var(--table-cell-padding);
  border-bottom: var(--table-border);
}

#users-table {
  display: none;
}